
@{
    if (ViewBag.ContaAtiva.NivelAcesso > 1)
    {
        Layout = "~/Views/Shared/_LayoutTecnico.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    
}

<link rel="stylesheet" href="/assets/css/bootstrap.css">

<link rel="stylesheet" href="/assets/css/maicons.css">

<link rel="stylesheet" href="/assets/vendor/animate/animate.css">

<link rel="stylesheet" href="/assets/vendor/owl-carousel/css/owl.carousel.css">

<link rel="stylesheet" href="/assets/vendor/fancybox/css/jquery.fancybox.css">

<link rel="stylesheet" href="/assets/css/theme.css">

<main>
    <div class="page-section">
        <div class="container">
            <div class="text-center">
                <h2 class="title-section mb-3">Detalhes</h2>
                <br>

                <p>Ticket ID - <b>@Model.Id</b></p>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-lg-8">
                    <form asp-controller="Ticket" method="post" class="form-contact">
                        <div class="row">
                            <div class="col-12 py-2">
                                <label for="name" class="fg-grey">Tipo</label>
                                <input type="text" class="form-control" id="name" placeholder="@Model.Tipo" disabled>
                            </div>

                            <div class="col-sm-6 py-2">
                                <label for="email" class="fg-grey">Criador</label>
                                <input type="text" class="form-control" id="email" placeholder="@Model.UserCriador" disabled>
                            </div>

                            <div class="col-sm-6 py-2">
                                <label for="email" class="fg-grey">Data da criação</label>
                                <input type="text" class="form-control" id="email" placeholder="@Model.DataCriacao" disabled>
                            </div>

                            
                            @{
                                var dataAlt = "";
                                if (Model.DataAlteracao == Model.DataCriacao)
                                {
                                    <div class="col-sm-6 py-2">
                                        <label for="email" class="fg-grey">Alteração feita por</label>
                                        <input type="text" class="form-control" id="email" placeholder="Não existe Alterações" disabled>
                                    </div>
                                    <div class="col-sm-6 py-2">
                                        <label for="email" class="fg-grey">Data da ultima alteração</label>
                                        <input type="text" class="form-control" id="email" placeholder="Não existe Alterações" disabled>
                                    </div>
                                    
                                }
                                else
                                {
                                    <div class="col-sm-6 py-2">
                                        <label for="email" class="fg-grey">Alteração feita por</label>
                                        <input type="text" class="form-control" id="email" placeholder="@Model.UserAlteracao" disabled>
                                    </div>
                                    <div class="col-sm-6 py-2">
                                        <label for="email" class="fg-grey">Data da ultima alteração</label>
                                        <input type="text" class="form-control" id="email" placeholder="@Model.DataAlteracao" disabled>
                                    </div>
                                    
                                }

                            }
                            
                             <div class="col-sm-6 py-2">
                                <label for="email" class="fg-grey">Status</label>
                                <input type="text" class="form-control" id="email" placeholder="@Model.Status" disabled>
                            </div>
                            <div class="col-sm-6 py-2">
                                <label for="email" class="fg-grey">Status de atendimento</label>
                                <input type="text" class="form-control" id="email" placeholder="@Model.StatusAtendimento" disabled>
                            </div>
                            
                            @if(Model.Tipo == "Hardware")
                            {
                                <div class="col-12 py-2">
                                    <label for="subject" class="fg-grey">Equipamento</label>
                                    <input type="text" class="form-control" id="subject" placeholder="@Model.Equipamento" disabled>
                                </div>
                                <div class="col-12 py-2">
                                    <label for="subject" class="fg-grey">Avaria</label>
                                    <input type="text" class="form-control" id="subject" placeholder="@Model.Avaria" disabled>
                                </div>
                                <div class="col-12 py-2">
                                    <label for="subject" class="fg-grey">Descrição da reparação</label>
                                    <input type="text" class="form-control" id="subject" placeholder="@Model.DescReparacao" disabled>
                                    <div class="col-12 py-2">
                                        <label for="subject" class="fg-grey">Peças Novas</label>
                                        <input type="text" class="form-control" id="subject" placeholder="@Model.Pecas" disabled>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-12 py-2">
                                    <label for="subject" class="fg-grey">Software</label>
                                    <input type="text" class="form-control" id="subject" placeholder="@Model.Software" disabled>
                                </div>
                                <div class="col-12 py-2">
                                    <label for="subject" class="fg-grey">Necessidade</label>
                                    <input type="text" class="form-control" id="subject" placeholder="@Model.Necessidade" disabled>
                                </div>
                                <div class="col-12 py-2">
                                    <label for="subject" class="fg-grey">Descriçção da Intervenção</label>
                                    <input type="text" class="form-control" id="subject" placeholder="@Model.DescIntervencao" disabled>
                                </div>
                            }
                            <div class="col-sm-6 py-2">
                                <a href="@Url.Action("Voltar", "Ticket")" class="btn btn-primary px-5">Back</a>
                            </div>
                            @if (ViewBag.ContaAtiva.NivelAcesso > 1)
                            {
                                <div class="col-sm-6 py-2">
                                    <a href="@Url.Action("Editar", "Ticket", new { id = Model.Id })" class="btn btn-primary px-5" style="background-color: green">Answer</a>
                                </div>
                            }
                            <!--
                                                <div class="col-sm-6 py-2">
                                <button type="submit" class="btn btn-primary px-5" value="Voltar" asp-action="Voltar">Voltar</button>
                            </div>
                            if(ViewBag.ContaAtiva.NivelAcesso > 1)
                            {
                                <div class="col-sm-6 py-2">
                                    <button type="submit" class="btn btn-primary px-5" style="background-color: green" value="Editar" asp-action="Editar">Editar</button>
                                </div>
                            }
                            -->
                        </div>
                    </form>
                </div>
            </div>
        </div> <!-- .container -->
    </div> <!-- .page-section -->

