
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_LayoutTecnico.cshtml";
}


<link rel="stylesheet" href="/assets/css/bootstrap.css">

<link rel="stylesheet" href="/assets/css/maicons.css">

<link rel="stylesheet" href="/assets/vendor/animate/animate.css">

<link rel="stylesheet" href="/assets/vendor/owl-carousel/css/owl.carousel.css">

<link rel="stylesheet" href="/assets/vendor/fancybox/css/jquery.fancybox.css">

<link rel="stylesheet" href="/assets/css/theme.css">

<main>
    <div class="page-section">
        <div class="container">
            <div class="text-center">
                <h2 class="title-section mb-3">Answer Ticket</h2>
                <p>Ticket ID - @Model.Id</p>
                <br>
                <p>Criado por @Model.UserCriador /// @Model.DataCriacao</p>
                <br>
                <p>Ultima vez alterado por @Model.UserCriador /// @Model.DataAlteracao</p>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-lg-8">
                    <form asp-controller="Ticket" asp-action="Salvar" method="post" class="form-contact">
                        <div class="row">
                            <div class="col-sm-6 py-2">
                                <label for="tipoTicket" class="fg-grey">Status</label>
                                <select class="form-control" id="status" name="status">
                                    <option value="porAtender">Por Atender</option>
                                    <option value="emAtendimento">Em Atendimento</option>
                                    <option value="atendido">Atendido</option>
                                </select>
                            </div>
                            <div class="col-sm-6 py-2">
                                <label for="tipoTicket" class="fg-grey">Status do Atendimento</label>
                                <select class="form-control" id="statusAtendimento" name="statusAtendimento">
                                    <option value="aberto">Aberto</option>
                                    <option value="resolvido">Resolvido</option>
                                    <option value="naoResolvido">Não Resolvido</option>
                                </select>
                            </div>
                            @if (Model.Tipo == "Hardware")
                            {
                                <div class="col-12 py-2">
                                    <label for="subject" class="fg-grey">Equipamento</label>
                                    <input type="text" class="form-control" id="subject" placeholder="@Model.Equipamento" disabled>
                                </div>
                                <div class="col-12 py-2">
                                    <label for="subject" class="fg-grey">Avaria</label>
                                    <input type="text" class="form-control" id="subject" placeholder="@Model.Avaria" disabled>
                                </div>
                                <div class="col-12 py-2">
                                    <label for="subject" class="fg-grey">Descrição da reparação</label>
                                    <input type="text" class="form-control" id="subject" name="descReparacao" placeholder="@Model.DescReparacao">
                                    <div class="col-12 py-2">
                                        <label for="subject" class="fg-grey">Peças Novas</label>
                                        <input type="text" class="form-control" id="subject" name="pecas" placeholder="@Model.Pecas">
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-12 py-2">
                                    <label for="subject" class="fg-grey">Software</label>
                                    <input type="text" class="form-control" id="subject" placeholder="@Model.Software" disabled>
                                </div>
                                <div class="col-12 py-2">
                                    <label for="subject" class="fg-grey">Necessidade</label>
                                    <input type="text" class="form-control" id="subject" placeholder="@Model.Necessidade" disabled>
                                </div>
                                <div class="col-12 py-2">
                                    <label for="subject" class="fg-grey">Descriçção da Intervenção</label>
                                    <input type="text" class="form-control" id="subject" name="" placeholder="@Model.DescIntervencao">
                                </div>
                            }

                            
                            <div class="col-sm-6 py-2">
                                <button class="btn btn-primary px-5">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> <!-- .container -->
    </div> <!-- .page-section -->

